<div class="card"  style="padding-top: 10px;background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(82,9,121,1) 0%, rgba(82,53,150,1) 26%, rgba(122,69,160,1) 41%, rgba(66,85,170,1) 54%, rgba(184,35,210,1) 76%, rgba(0,212,255,1) 95%);">
    <h2>Employee</h2>
    <p-tabMenu [model]="items" [activeItem]="activeItem" ></p-tabMenu>
  </div>

  <div  style="padding-top: 10px;">
    <div class="row">
      <div class="col" style="padding-left: 140px;">

  <p-card header="Physical and Mental Wellbeing" [style]="{'width': '25rem', 'margin-bottom': '2em' }">
  <img src="https://cdn4.vectorstock.com/i/thumb-large/26/28/group-of-people-icon-vector-15262628.jpg">
  <div>
    <p> * Medical, dental, and vision insurance for employees and their families (available in markets where this is the norm)</p>
     <p>*Disability insurance</p>
     <p>* Life insurance</p>
     <p>*And more</p>
  </div>

</p-card>
</div>

<div class="col-sm" >
<p-card header="Career Growth and Community Support" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQI594Ss94i6aeO2RipV8WZwOHU6G5nHB1vKw&usqp=CAU" >
  <div>
    <p>*​Employee resource groups</p>
     <p> *Continuing education and volunteer time</p>
      <p>*Tuition reimbursement*</p>
       <p>*Office events/programs and healthy food and drink options</p>
        <p>*Discounts, perks, and recognition</p>
   </div>
</p-card>
</div>


  
</div>
   </div>


