
<div style="background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(82,9,121,1) 0%, rgba(82,53,150,1) 26%, rgba(122,69,160,1) 41%, rgba(66,85,170,1) 54%, rgba(184,35,210,1) 76%, rgba(0,212,255,1) 95%); color: white;">
<button type="button" pButton pRipple icon="pi pi-bars"  (click)="menu.toggle($event)"></button>
Restaurant
<p-menu   #menu [popup]="true" [model]="items" ></p-menu>
</div>

    <img class="bg-img" src="./assets/backgroung1.jpg" style="width: 100%; height: 91.7vh ;">



